* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 800px;
    background-color: beige;
    text-align: center;
}

ul,
ol,
menu {
    list-style: none;
}